body {
    background-image: url(img.code.jpg) ;

}
hr{
    height: 5px;
    background-color: black;

}
img {
    border: 40px;
    margin: 90px;
    margin-top: -130px;
}
    #saludo {
        color: aliceblue;
        background-color: black;
        text-align: center;
    text-shadow: 2px 2px;
    font-size: 35px;
        font-family: Georgia, 'Times New Roman', Times, serif
        color: #333;
    }
    #nombre {

        background-color: black;
    font-size: 50px;
        font-family: Georgia, Times, 'Times New Roman', serif;
        color: rgb(232, 226, 237);
        padding: 8px;
text-shadow: 2px 2px;

    }
    #pregunta {
        background-color: black;
        font-size: 20px;
color: rgb(232, 226, 237);
font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .tareas{
        background-color: black;
        color: rgb(232, 226, 237);
    font-weight: 900;
        font-family: 'Courier New', Courier, monospace;
    }
 .herramientas {

color: white;
font-size: 20px;
        background-color: gray;
        padding: 10px;
        font-family: monospace
    }
    .contacto {
        background-color: black;
        color: rgb(232, 226, 237);
    }
    input { 
        background-color: blueviolet;
        border: 5em;
    }
